<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device Details</title>
</head>
<body>
<table style="border: 1px solid black;">
    <tr>
        <td>Name</td><td>{{ device.name }}</td>
    </tr>
    <tr>
        <td>Manufacturer</td><td>{{ device.manufacturer }}</td>
    </tr>
    <tr>
        <td>Model</td><td>{{ device.model }}</td>
    </tr>
    <tr>
        <td>Location</td><td>{{ device.location }}</td>
    </tr>
    <tr>
        <td>Rack Elevation</td><td>{{ device.rack_elevation }}</td>
    </tr>
    <tr>
        <td>Device Size</td><td>{{ device.size }}</td>
    </tr>
</table>
</body>
</html>